bayesian-optimization<3.0.0
# confluent-kafka==2.0.2
cryptography
git+https://github.com/MarekWadinger/river.git ; sys_platform == "darwin" or (sys_platform == "linux" and platform_machine == "aarch64" and (implementation_version == "3.12.*" or implementation_version == "3.11.*"))
# Try to install from wheel for others
river~=0.21.0 ; sys_platform == "linux" and (implementation_version != "3.11.*" or implementation_version != "3.12.*") and platform_machine != "aarch64"
human_security
matplotlib<4.0.0
paho-mqtt<3.0.0
types-paho-mqtt
pandas<3.0.0
pandas-stubs
plotly<7.0.0
scipy<2.0.0
streamz<1.0.0
streamz_pulsar ; implementation_version < "3.12.*"
typing_extensions<5.0.0
